$font-family-primery: "Clear Sans", sans-serif;
$font-family-scondary: "Roboto", sans-serif;

$font-size: 14px;
$font-size-primery: 16px;
$font-size-scondary: 24px;
$font-size-h3: 36px;
$font-size-h1: 57px;

$line-height: 19px;
$line-height-h3: 32px;
$line-height-h1: 77px;

$color-text: #3a4047;
$color-primery: #1ab0ce;
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $font-family-primery;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}
ul,
li { 
  font-size: $font-size;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  font-size: 0;
  display: table;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 19px;
}
.header__logo {
}
.header__contant {
  max-width: 375px;
  text-align: center;
  p {
    margin-bottom: 11px;
    font-size: $font-size-primery;
    line-height: 22px;
  }
  span {
    font-size: $font-size;
    font-weight: 700;
    line-height: 19px;
  }
}
.header__info,
.header__box-top {
  display: flex;
  justify-content: space-between;
}
.header__info-box {
  min-width: 343px;
  margin-right: 19px;
}
.header__box-top {
  text-decoration-line: underline;
  margin-bottom: 22px;
}
.text-user {
  padding-left: 19px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/user.png);
    width: 14px;
    height: 15px;
    left: 0;
  }
}
.text-post {
}
.header__box-bottom {
  display: flex;
  justify-content: flex-end;
  position: relative;
  .icon-facebook {
    margin-right: 21px;
  }
}
.text-phone {
  padding-left: 30px;
  padding-right: 6px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.png);
    width: 21.89px;
    height: 21.89px;
    left: 0;
  }
}
.phone-btn {
  width: 20px;
  height: 20px;
  &:hover .box-telefon {
    display: block;
    position: absolute;
  }
}
.box-telefon {
  display: none;
  padding: 31px 0 13px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15);
  font-size: $font-size-primery;
  line-height: 22px;
  max-width: 219px;
  min-height: 167px;
  z-index: 5;
  top: 42px;
  right: -12px;
  position: relative;
  li {
    display: block;
    a {
      padding: 0px 20px 25px 45px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 0;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #fff;
    transform: rotate(-45deg);
    top: -3px;
    right: 6px;
    z-index: 1;
  }
}
.i-vodafon,
.i-kievstar,
.i-lifacel {
  background-repeat: no-repeat;
}
.i-vodafon {
  background-image: url(../images/vodafon.png);
}
.i-kievstar {
  background-image: url(../images/kevstar.png);
}
.i-lifacel {
  background-image: url(../images/lifecel.png);
}
.header__info-shop {
  position: relative;
}
.icon-shop {
}
.shop-number {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/shop-number.png);
    width: 30px;
    height: 30px;
    right: -8px;
    top: -8px;
  }
}
.menu-contant {
  text-transform: uppercase;
  li a {
    font-size:$font-size-primery;
    padding: 16px 49px 19px 0;
    &:hover {
      color: $color-primery;
      border-top: 1px solid $color-primery;
    }
  }
  li + li > a {
    padding-right:40px;
    padding-left: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid #e8edf2;
      height: 13px;
      width: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
  .search {
    padding-right: 0;
    padding-left: 15px;
    &:hover {
      border: none;
    }
  }
}
.menu {
}
.menu-text {
  font-size: $font-family-primery;
  line-height: 22px;
  font-weight: 700;
  .menu-text + .menu-text {
  }
}

.big-image {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.big-image__contant {
  padding-top: 153px;
  padding-bottom: 141px;
  color: #fff;
}
.big-image__contant-h1 {
  font-size: $font-size-h1;
  line-height: $font-size-h1;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
  }
}
.big-image__contant-h3 {
  font-size: $font-family-scondary;
  line-height: $line-height-h3;
  margin-bottom: 27px;
}
.big-image__contant-link {
  font-size: $font-size-primery;
  line-height: 22px;
  color: #fff;
  background: #1ab0ce;
  border-radius: 2px;
  padding: 12px 22.22px 15px;
}

.production {
}
.production__contant {
}
.production__contant-title {
  margin-top: 29px;
  margin-bottom: 44px;
}
.special-title {
  text-align: center;
  font-size: 36px;
  line-height: 49px;
}
.production__contant-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.production-wrapper {
  min-width: 370px;
  border: 1px solid #dce1e6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px 31px 26px 29px;
  display: flex; 
}
.production-wrapper-text {
  padding-left: 24px;  
}
.production-wrapper__title {
  font-size: $font-size-primery;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase; 
  margin-bottom: 24px; 
}
.production-wrapper__list {
  float: left;
  + .production-wrapper__list{
    padding-left: 50px;
  }
  li {
    display: block;
    a {
      line-height: 18px;
      font-size: $font-size;
    }
  }
  li + li {
    padding-top: 15px;
  }
}
