$font-family-primery: "Clear Sans", sans-serif;
$font-family-scondary: "Roboto", sans-serif;

$font-size: 14px;
$font-size-h3: 16px;
$font-size-h2: 24px;
$font-size-h1: 36px;
$font-size-title: 57px;

$line-height: 19px;
$line-height-h3: 22px;
$line-height-h2: 32px;
$line-height-h1: 49px;
$line-height-title: 77px;

$font-weight-bold: 700;

$color-text: #3a4047;
$color-primery: #1ab0ce;
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: $font-family-primery;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}
ul,
li {
  font-size: $font-size;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  font-size: 0;
  display: table;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.Shape {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: $color-primery;
  z-index: 10;
  span {
    top: 46px;
    left: 15px;
    right: 15px;
    color: #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/Shape.svg);
      width: 25px;
      height: 25px;
      top: -25px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
.header__container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 19px;
}
.header__logo {
  margin-right: 30px;
}
.logo {
  display: block;
}
.header__contant {
  max-width: 375px;
  text-align: center;
  margin-right: 30px;
  p {
    margin-bottom: 11px;
    font-size: $font-size-h3;
    line-height: 22px;
  }
  span {
    font-size: $font-size;
    font-weight: 700;
    line-height: 19px;
  }
}
.header__info,
.header__box-top {
  display: flex;
  justify-content: space-between;
}
.header__info-box {
  min-width: 343px;
  margin-right: 19px;
}
.header__box-top {
  text-decoration-line: underline;
  margin-bottom: 22px;
}
.text-user {
  padding-left: 19px;
  margin-right: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/user.svg);
    width: 14px;
    height: 15px;
    left: 0;
  }
}
.contact-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  .icon-facebook {
    margin-right: 21px;
  }
}
.contact-phone {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-bold;
  padding-left: 30px;
  padding-right: 6px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.svg);
    width: 21.89px;
    height: 21.89px;
    left: 0;
  }
}
.contact-btn {
  width: 20px;
  height: 20px;
  position: relative;
  &:hover .contact-btn__menu {
    padding-top: 15px;
    height: auto;
    overflow: hidden;
    border-width: 1px;
  }
}
.contact-btn__menu {
  position: absolute;
  top: 20px;
  right: -20px;
  height: 0;
  overflow: hidden;
  box-shadow: 0;
}
.contact-btn__menu-box {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15);
  width: 219px;
  min-height: 167px;
  z-index: 5;
  position: relative;
  ul {
    padding: 31px 8px 13px 20px;
  }
  li {
    display: block;
    font-size: $font-size-h3;
    a {
      font-size: $font-size-h3;
      line-height: 22px;
      padding: 0px 20px 5px 45px;
      margin-bottom: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 0;
      }
    }
  }
}
.header-telefons {
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #fff;
    transform: rotate(-45deg);
    top: -3px;
    right: 6px;
    z-index: 1;
  }
}
.footer-telefons {
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #fff;
    transform: rotate(-45deg);
    bottom: -3px;
    right: 6px;
    z-index: 1;
  }
}
.footer__content-contacts {
  .contact-btn__menu {
    top: -234px;
    right: -25px;
  }
  .contact-btn__menu-box {
    margin: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }
}

.i-vodafon,
.i-kievstar,
.i-lifacel {
  background-repeat: no-repeat;
}
.i-vodafon {
  background-image: url(../images/vodafon.png);
}
.i-kievstar {
  background-image: url(../images/kevstar.png);
}
.i-lifacel {
  background-image: url(../images/lifecel.png);
}
.header__info-shop {
  position: relative;
}
.shop-number {
  padding-right: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/shop-number.png);
    width: 30px;
    height: 30px;
    right: 1px;
    top: -4px;
  }
}
.menu-contant {
  text-transform: uppercase;
  display: flex;
  li a {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    padding: 16px 49px 19px 0;
  }
  li + li > a {
    padding-right: 41px;
    padding-left: 33px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-left: 1px solid #e8edf2;
      height: 13px;
      width: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
  li:last-child {
    margin-left: auto;
  }
  li {
    &:last-child > a {
      &::before {
        border-left: none;
      }
    }
    &:nth-last-child(2) > a {
      &::after {
        content: "";
        position: absolute;
        border-right: 1px solid #e8edf2;
        height: 13px;
        width: 1px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
  }
  .search {
    padding-right: 0;
    padding-left: 30px;
    &:hover {
      border: none;
    }
  }
}
.header__menu-btn {
  width: 30px;
  display: none;
}

.header__menu-row {
  width: 100%;
  background-color: #000;
  height: 4px;
  margin-bottom: 4px;
}
.menu-text {
  font-size: $font-family-primery;
  line-height: 22px;
  font-weight: 700;
  transition: all, 0.3s;
  border-top: 1px solid transparent;
  &:hover {
    color: $color-primery;
    border-top: 1px solid $color-primery;
  }
}

.big-image {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.big-image__contant {
  padding-top: 153px;
  padding-bottom: 141px;
  color: #fff;
}
.big-image__contant-h1 {
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: 700;
  padding-bottom: 25px;
  margin-bottom: 15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
  }
}
.big-image__contant-h3 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  margin-bottom: 27px;
}
.big-image__contant-link {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  color: #fff;
  background: #1ab0ce;
}

.production {
  margin-bottom: 32px;
}
.production__contant-h1 {
  margin-top: 29px;
  margin-bottom: 44px;
}
.special-h1 {
  text-align: center;
  font-size: 36px;
  line-height: 49px;
}
.production__contant-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.production-wrapper {
  min-width: 370px;
  border: 1px solid #dce1e6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px 31px 26px 29px;
  display: flex;
}
.production-wrapper-text {
  padding-left: 24px;
}
.production-wrapper__title {
  font-size: $font-size-h3;
  font-weight: 700;
  line-height: $line-height-h3;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.production-wrapper__list {
  float: left;
  + .production-wrapper__list {
    padding-left: 50px;
  }
  li {
    display: block;
    a {
      line-height: 18px;
      font-size: $font-size;
      &:hover {
        color: $color-primery;
      }
    }
  }
  li + li {
    padding-top: 15px;
  }
}

.info {
  padding-bottom: 30px;
  margin-bottom: 33px;
  border-bottom: 1px solid #e8edf2;
}
.info__content-h1 {
  margin-bottom: 13px;
}
.special-h2 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.info__content-h2 {
  margin-bottom: 34px;
}

.news {
  text-align: center;
  margin-bottom: 29px;
}
.news__contant-title {
  margin-bottom: 50px;
}
.news__contant-inners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.news__contant-inner {
  max-width: 398px;
  position: relative;
}
.inner-date {
  color: #bec7d1;
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
}
.inner-link {
  position: relative;
  padding: 60px 18px 31px 14px;
  font-size: 16px;
  line-height: 22px;
  z-index: 2;
  transition: all, 0.2s;
  &:hover {
    color: $color-primery;
    text-decoration-line: underline;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05), 0px -1px 0px $color-primery;
  }
}
.news__link {
  margin-bottom: 20px;
}
.button-link {
  border: 1px solid $color-primery;
  border-radius: 2px;
  padding: 6px 12px 9px;
  transition: all, 0.6s;
  &:hover {
    transform: scale(1.2);
    font-size: $font-size-h3;
    line-height: 22px;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 24px;
  background: #f7f7f7;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  line-height: $line-height-h3;
}
.copy {
  padding-top: 10px;
}
.footer__content-info {
  max-width: 261px;
  p {
    margin-bottom: 30px;
  }
}
.footer__content-list {
  li {
    display: block;
    a {
      text-decoration: underline;
      &:hover {
        color: $color-primery;
      }
    }
  }
  li + li {
    padding-top: 16px;
  }
}
.footer__content-contacts {
  text-align: right;
}
.contact-text {
  padding-top: 21px;
  margin-bottom: 33px;
  text-decoration: underline;

  &:hover {
    color: $color-primery;
  }
}
.Develop {
  display: block;
  margin-left: auto;
}

@media (max-width: 1300px) {
  .menu-contant {
    li + li > a {
      padding-right: 37px;
      padding-left: 32px;
    }
  }
  .footer {
    // padding-left: 25px;
    // padding-right: 25px;
  }
}
@media (max-width: 1200px) {
  .menu-contant {
    justify-content: flex-end;
    li a {
      padding-left: 20px;
    }
    li + li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    li:first-child > a {
      padding-right: 20px;
    }
  }
  .production-wrapper {
    min-width: 45%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__container {
    box-shadow: none;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__info-shop,
  .header__info,
  .header__contant {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .menu {
    ul {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 20px;
      z-index: 50;
    }
    li {
      display: block;
      text-align: center;
    }
    li + li {
      padding-left: 0;
      padding-right: 0;
    }
    a {
      display: block;
      background-color: rgba($color-primery, 0.99);
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }
  .menu-text:hover {
    color: #fff;
    border-top: 1px solid transparent;
  }
  .menu-contant {
    width: 100%;
    li,
    li + li > a {
      padding-left: 0;
      padding-right: 0;
      a {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .search {
      display: none;
    }
  }
  .big-image__contant {
    padding-top: 153px;
    padding-bottom: 141px;
    color: #fff;
  }
  .production__contant-text {
    padding: 0 15px;
  }
  .footer__content-list {
    display: none;
  }
}
@media (max-width: 735px) {
  .big-image__contant-h1 {
    font-size: 36px;
    line-height: 49px;
  }
  .news__contant-title {
    margin-bottom: 20px;
  }
  .news__contant-inners {
    display: block;
  }
  .news__contant-inner {
    max-width: 100%;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__content-logo {
    order: 1;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .footer__content-logo {
    .logo {
      display: none;
    }
  }
}
@media (max-width: 660px) {
  .production__contant-wrap {
    display: block;
  }
  .production-wrapper {
    min-width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 520px) {
  .logo {
    width: 150px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__content-info,
  .footer__content-contacts {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
  }
  .footer__content-info p {
    margin-bottom: 5px;
  }
}
@media (min-width: 1025px) {
  .menu ul {
    display: flex !important;
  }
}
